.questionsSection {
  padding: 100px 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: var(--font-nunito);
}

.title {
  font-size: 28px;
  color: #7c4dff;
  font-weight: 900;
  text-align: center;
  margin-bottom: 40px;
}

.answers {
    margin-bottom: 20px;
    text-align: justify;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  background-color: #8581ff06;
  border-top: 1px solid #8681FF;
  border-bottom: 1px solid #8681FF;
  overflow: hidden;
}

.question {
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
}

.arrow {
  font-size: 18px;
  color: #8681FF;
  font-weight: bold;
}

.answerWrapper {
  padding: 20px 30px;
  background-color: #ffffff;
  animation: fadeIn 0.2s ease-in-out;
}

.answer {
  font-size: 17px;
  color: #333;
  line-height: 1.7;
  text-align: justify;
}

.answer ul {
  padding-left: 20px;
  margin: 0;
}

.answer li {
  margin-bottom: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.askBlock {
  margin-top: 60px;
  text-align: center;
  background: #f2f2ff;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
}

.askTitle {
  font-size: 26px;
  font-weight: 700;
  color: #8681FF;
  margin-bottom: 10px;
}

.askText {
  font-size: 16px;
  color: #444;
  margin-bottom: 20px;
}

.askButton {
  padding: 12px 26px;
  font-size: 16px;
  background-color: #8681FF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.askButton:hover {
  background-color: #5e1ed1;
}
