.page {
  background: url('/obo_mne.png') center top no-repeat;
  background-size: cover;
  font-family: var(--font-nunito);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 60px;
  box-sizing: border-box;
}
  /* обо мне */

.aboutSection {
  padding: 80px 60px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 120px;
  text-align: justify;
}

.contentWrapper {
  display: flex;
  max-width: 1180px;
  justify-content: space-between;
  gap: 80px;
}

.imagePlaceholder {
  width: 440px;
  height: 460px;
  background: #aaa;
  border-radius: 5px;
  flex-shrink: 0;
  margin-left: 20px;
}

.textContent {
  flex: 1;
  color: #333;
  font-size: 18px;
  line-height: 1.7;
  margin-top: -60px;
  max-width: 600px;
}

.text {
  margin-bottom: 30px;
}

.title {
  font-size: 28px;
  font-weight: 900;
  color: #7b5fff;
  text-transform: lowercase;
  margin-bottom: 20px;
}

.footerNote {
  font-size: 18px;
  max-width: 1105px;
  margin-top: 0px;
  color: #333333;
}


  /* образование*/
.educationSection {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 60px;
  max-width: 1100px;
  margin: 0 auto;
}

.educationTitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: -50px;
  color: #7c4dff;
  text-transform: lowercase;
}

.blockRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.textObr {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: #333333;
  text-align: justify;
}

.textObr1 {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: #333333;
  margin-top: 50px;
  text-align: justify;
}

.textList {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  max-width: 580px;
  color: #333333;
  margin-top: 80px;
  text-align: justify;
}

.textList ul {
  margin-top: 25px;
  padding-left: 20px;
}

.textList li {
  margin-bottom: 10px;
}

.grayBlock {
  width: 410px;
  height: 380px;
  background: #cfcfcf;
  border-radius: 5px;
  flex-shrink: 0;
  margin-top: -130px;
}

.grayBlockSmall {
  width: 440px;
  height: 280px;
  background: #cfcfcf;
  border-radius: 5px;
  flex-shrink: 0;
}

.blockGrid {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 16px;
}

.square {
  width: 200px;
  height: 200px;
  background: #cfcfcf;
  border-radius: 5px;
}

  /* опыт */
.experienceSection {
  padding: 100px 80px;
  font-family: var(--font-nunito);
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experiencetitle {
  font-size: 28px;
  color: #7c4dff;
  font-weight: 600;
  margin-bottom: 55px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 90px;
}

.yearBox {
  background: #8681FF;
  color: white;
  font-weight: bold;
  padding: 16px 80px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.textOpit {
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  width: 700px;
  margin-bottom: 25px;
  text-align: justify;
}

/* методы работы */
.methodtitle {
  font-size: 28px;
  color: #7c4dff;
  font-weight: 600;
  text-transform: lowercase;
  margin-bottom: 50px;

}

.step {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.methodsSection {
  padding: 100px 180px;
}

.textmethods {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 50px;
  text-align: justify;
}

.textmethods1 {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
  text-align: justify;
}

.textmethods2 {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 75px;
  text-align: justify;
}

.textmethods3 {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 55px;
  text-align: justify;
}
.image {
  flex-shrink: 0;
}

.image3 {
  flex-shrink: 0;
  margin-right: 105px;
}


  /* картинка */
.paperSection {
  display: flex;
  padding: 80px 60px;
  margin-bottom: 100px;
}

.paperContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.paperImage {
  width: 1000px;
  height: auto;
  border-radius: 5px;
  margin-left: -200px;
}

.paperButton {
  background: #8681FF;
  color: white;
  padding: 18px 40px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(81, 81, 81, 0.3);
  cursor: pointer;
  font-weight: 400;
  white-space: nowrap;
  transition: background 0.2s ease;
  margin-right: 110px;
}

.paperButton:hover {
  background: #8581ffc5;
}
