.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 24px 0;
  font-family: 'Inter', sans-serif;
}
.container {
  margin: 0 auto;
  margin-right: 50px;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  padding-left: 122px;
}


.nav {
  display: flex;
  gap: 50px;

  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: opacity 0.3s;
    font-family: var(--font-nunito);
    font-weight: 400;

    &:hover {
      opacity: 0.6;
    }
  }
}
.nav a.active {
      font-weight: 700;
    }
.cta {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
  transition: opacity 0.3s;
  font-family: var(--font-nunito);

  &:hover {
    opacity: 0.5;
  }
}

/* 1440 */
@media (max-width: 1440px) {
  .container {
    padding: 0 60px;
    font-size: 25px;
    margin-left: 0px;
  }

  .nav {
    gap: 40px;

    a {
      font-size: 20px;
    }
  }

  .cta {
    font-size: 19px;
  }
}

/* 1024 */
@media (max-width: 1024px) {
  .container {
    padding: 0 40px;
    margin-left: 0px;
  }

  .nav {
    gap: 24px;

    a {
      font-size: 20px;
    }
  }

  .cta {
    font-size: 19px;
  }
}

/* 768 */
@media (max-width: 768px) {
  .container {
    padding: 0 40px;
    margin-left: -60px;
  }

  .nav {
    gap: 24px;

    a {
      font-size: 18px;
    }
  }

  .cta {
    font-size: 17px;
  }
}
/* Светлая шапка — для Главной страницы (белый текст) */
.lightHeader .nav a,
.lightHeader .cta {
  color: white;
}

/* Тёмная шапка — для других страниц, например "Обо мне" (чёрный текст) */
.darkHeader .nav a,
.darkHeader .cta {
  color: black;

}

/* Плавное переключение цвета */
.nav a,
.cta {
  transition: color 0.3s ease;
}
